.playlists-container {
    display: flex;
    flex-wrap: wrap; /* Kartların birden fazla satıra yayılmasını sağlar */
    justify-content: center; /* Kartları ortalar */
    padding: 20px; /* İçerik için boşluk */
    gap: 30px;
}

.playlist-card {
    background-color: #3a3a3a; /* Kart arka plan rengi */
    border-radius: 10px; /* Köşeleri yuvarlaştır */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Gölge efekti */
    margin: 10px; /* Kartlar arasında boşluk */
    overflow: hidden; /* Taşan içerikleri gizle */
    width: 200px; /* Kart genişliği */
    height: 280px;
    text-align: center; /* Metni ortala */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s; /* Geçiş efekti */
}

.playlist-card:hover {
    transform: scale(1.05); /* Hover efekti */
}

.playlist-cover {
    width: 100%; /* Kapak resminin genişliği */
    height: auto; /* Yükseklik otomatik */
}

.playlist-name {
    font-size: 16px; /* Playlist ismi boyutu */
    margin: 10px 0; /* Üst ve alt boşluk */
    color: #00ad00; /* Metin rengi */
}
