.search-container {
    padding: 20px;
    background-color: #1e1e1e; /* Koyu arka plan rengi */
    border-radius: 10px; /* Köşeleri yuvarlat */
    color: #ffffff; /* Metin rengi */
    max-width: 800px; /* Maksimum genişlik */
    margin: 20px auto; /* Ortalamak için otomatik kenar boşluğu */
}

.search-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-button {
    padding: 10px 15px;
    background-color: #1db954; /* Spotify yeşil rengi */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #1aa34a; /* Hover rengi */
}

.search-results {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.track-card {
    background-color: #3a3a3a; /* Kart arka plan rengi */
    border-radius: 10px; /* Köşeleri yuvarlaştır */
    padding: 10px;
    text-align: center; /* Metni ortala */
    width: 150px; /* Kart genişliği */
}

.track-cover {
    width: 100%; /* Kapak resminin genişliği */
    border-radius: 5px; /* Resmin köşelerini yuvarlat */
}

.track-name {
    font-size: 1em; /* Şarkı ismi boyutu */
    margin: 5px 0; /* Üst ve alt boşluk */
}

.track-artist {
    font-size: 0.9em; /* Sanatçı ismi boyutu */
    color: #b3b3b3; /* Açık gri rengi */
}